<Section>
  <app-navbar></app-navbar>
  <!-- card.component.html -->
  <div class="container1">
    <div class="card" *ngFor="let c of courses">
      <img src={{c.img}} alt="image" />
      <div class="intro">
        <h1>{{c.name}}</h1>
        <h2><span>₹ </span>{{c.price}}</h2>
        <p>{{c.description}}</p>
      <button routerLink="/register">
        register
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
        <span class="fourth"></span>
      </button>
      </div>
      
    </div>
  </div>
</Section>
