<app-navbar></app-navbar>
<section>
    <div class="container">
        <h1>Programs</h1>
        <p>Our certified trainers lead dynamic training programs, meticulously designed to facilitate efficient and effective learning. These programs are tailored to provide you with the essential skills and knowledge required for various sought-after certifications. We offer a wide range of industry-recognized certifications, including those from esteemed vendors like Cisco, Redhat, and Amazon. With a focus on practicality, our engaging sessions ensure that you're well-prepared to excel in your certification endeavors. Whether you're a beginner or looking to upgrade your skills, our interactive approach guarantees a productive and educative experience. Join us at TechWing and embark on your journey towards professional certification with confidence.</p>
    </div>
    <div class="container container1">
        <div class="left">
          <h1>Smart coder</h1>
          <p>"Smart Coder" is a comprehensive program designed to cater to both entry-level Python programming and more advanced Python programming with a focus on Data Structures. This unique program is tailored to accommodate individuals with varying levels of technical expertise. Whether you're new to programming or looking to delve into the world of Data Structures using Python, Smart Coder has you covered. Our program offers an interactive and hands-on learning experience that will equip you with the essential skills to navigate Python's versatile applications. From fundamental coding concepts to in-depth Data Structures implementation, Smart Coder ensures a seamless learning journey that meets your specific needs.</p>
        </div>
        <div class="right">
            <img src="../../assets/images/certification/certification.jpg" alt="">
        </div>
      </div>
      <div class="container container2">
        <div class="left">
            <img src="../../assets/images/certification/certification.jpg" alt="">
        </div>
        <div class="right">
          <h1>Smart coder</h1>
          <p>"Smart Coder" is a comprehensive program designed to cater to both entry-level Python programming and more advanced Python programming with a focus on Data Structures. This unique program is tailored to accommodate individuals with varying levels of technical expertise. Whether you're new to programming or looking to delve into the world of Data Structures using Python, Smart Coder has you covered. Our program offers an interactive and hands-on learning experience that will equip you with the essential skills to navigate Python's versatile applications. From fundamental coding concepts to in-depth Data Structures implementation, Smart Coder ensures a seamless learning journey that meets your specific needs.</p>
        </div>
      </div>
</section>