section{
    background-color: black;
}
.container {
    padding-top: 1%;
    padding-bottom: 5%;
}

h2{
    color: #ffa500;
    font-size: xx-large;
    text-align: center;
    padding-top: 2%;
}

h1{
    text-align: center;
    color: #ffa500;
    font-size: xx-large;
    padding-bottom: 50px;
    text-decoration: underline;
}
p{
    color: white;
    font-size: medium;
    text-align: center;
}

ul li{
    color: aliceblue;
}