<section>
  <app-navbar></app-navbar>
  <div class="container">
    <h1>Privacy Policy</h1>

    <h2>What Information We Collect</h2>
    <p>
      At [Your Company Name], we take your privacy seriously. This Privacy
      Policy is designed to inform you about what personal information we
      collect from our website/app users, how we collect it, how we use it, and
      how we keep it safe. We believe in transparency and the responsible
      handling of your data.
    </p>

    <h2>Personal Information</h2>
    <p>
      We may collect personal information such as your name and email address
      when you interact with our website/app. This information is collected with
      the utmost respect for your privacy and security.
    </p>

    <h2>How We Collect Information</h2>
    <p>We collect information in the following ways:</p>
    <ul>
      <li>
        When you provide it to us voluntarily, such as when you sign up for an
        account or subscribe to our services.
      </li>
      <li>
        Through the use of cookies and similar tracking technologies. You can
        manage your cookie preferences through your browser settings.
      </li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>Your information is used to:</p>
    <ul>
      <li>Personalize your experience on our website/app.</li>
      <li>Improve the functionality of our website/app.</li>
      <li>Deliver content and services tailored to your preferences.</li>
    </ul>
    <p>
      We do not sell or rent your personal information to third parties. Your
      privacy is our priority, and we handle your information with care and
      diligence.
    </p>

    <h2>How We Keep Information Safe</h2>
    <p>
      We take data security seriously and have implemented various security
      measures to protect your information. While no method of data transmission
      over the internet is entirely immune to threats, we use encryption, access
      controls, and secure data storage to mitigate risks and protect your
      information from unauthorized access. We continuously review and enhance
      our security practices to stay ahead of evolving threats.
    </p>

    <h2>Information Sharing with Third Parties</h2>
    <p>
      We want to make it clear that we do not share your personal information
      with third parties, except in the following cases:
    </p>
    <ul>
      <li>When we have your explicit consent to do so.</li>
      <li>
        When it is necessary to provide a service you have requested, and this
        service is fulfilled by a trusted third party (e.g., payment
        processing).
      </li>
      <li>
        When required by law or to protect our rights, privacy, safety, or
        property, or that of others.
      </li>
    </ul>

    <h2>Changes to Privacy Policy</h2>
    <p>
      We are committed to your privacy and security. We may update this Privacy
      Policy from time to time to reflect changes in our practices. Any
      significant changes will be communicated to you through email or a
      prominent notice on our website/app. We believe in transparency and will
      provide you with clear information about any changes that may affect your
      data privacy.
    </p>
  </div>
  <app-footer></app-footer>
</section>
