<section>
    <app-navbar></app-navbar>
    <div class="container">
        <h1>Privacy Policy</h1>

    <h2>Your Privacy Matters</h2>
    <p>At TechWing, we hold your privacy in the highest regard. This comprehensive Privacy Policy is designed to provide you with a detailed understanding of how we gather, utilize, and safeguard your personal information. We are committed to ensuring that your privacy remains secure and respected in every interaction you have with our website. Your trust is of paramount importance to us, and this policy reflects our unwavering dedication to transparency and data protection. We encourage you to read this policy carefully to make informed decisions about your privacy when engaging with TechWing.</p>

    <h2>Information We Collect</h2>
    <p>When you engage with our website, we may gather both personal and non-personal information. This may encompass details such as your name, email address, and usage data, all with the utmost respect for your privacy and security. We believe that trust is built on transparency, and that's why we want you to be fully aware of what information we collect and how we use it. Rest assured that we handle this data responsibly and exclusively for the purpose of enhancing your experience and improving our services.</p>

    <h2>How We Use Your Information</h2>
    <p>Your information serves as the cornerstone of our commitment to providing, maintaining, and enhancing our educational services. It's important to underscore that we have a staunch policy against selling or renting your personal information to third parties. We utilize the data you provide to personalize your experience, improve our website's functionality, and deliver educational content that is tailored to your preferences. Your privacy is our priority, and we handle your information with the utmost care and diligence.</p>

    <h2>Cookies and Tracking</h2>
    <p>Our commitment to enhancing your online experience is fortified through the strategic use of cookies and similar tracking technologies. These tools are aimed at optimizing your interaction with our website, and you have the autonomy to manage your cookie preferences through your browser settings. Cookies help us understand your preferences and browsing behavior, allowing us to improve your experience. We use this data responsibly and in a manner that respects your privacy, adhering to industry best practices.</p>

    <h2>Third-Party Links</h2>
    <p>While navigating our website, you may come across links directing you to third-party websites. It's paramount to note that we bear no responsibility for the privacy practices of these external sites. We strongly encourage you to review their privacy policies when visiting them to ensure your privacy remains protected. It's important to exercise caution and due diligence when engaging with third-party websites, as their practices may differ from ours. Your privacy remains your responsibility, and we emphasize the importance of ensuring it is safeguarded when leaving our site.</p>

    <h2>Children's Privacy</h2>
    <p>We want to emphasize that our services are not tailored for children under the age of 13. Consequently, we have a strict policy of not knowingly collecting personal information from children, aligning with the highest standards of data protection. We are committed to protecting the privacy of children, and we encourage parents and guardians to play an active role in guiding their children's online activities. If you believe that we have inadvertently collected information from a child, please contact us immediately, and we will take prompt action to address the situation and protect the child's privacy.</p>

    <h2>Data Security</h2>
    <p>We've instituted a robust array of security measures to ensure the protection of your data. Nonetheless, it's essential to acknowledge that no method of data transmission over the internet is entirely impervious to threats, and while we are dedicated to safeguarding your information, we cannot provide an unequivocal guarantee of absolute data security. We employ encryption, access controls, and secure data storage to mitigate risks and protect your information from unauthorized access. Our commitment to data security is unwavering, and we continuously review and enhance our security practices to stay ahead of evolving threats.</p>

    <h2>Changes to Privacy Policy</h2>
    <p>We are committed to your continued privacy and security. As part of this commitment, we may periodically update this Privacy Policy to reflect changes in our practices. Be assured that any material changes will be conveyed to you through email or a prominent notice on our website, ensuring that you remain informed and in control of your privacy. We believe in transparency and will provide you with clear and concise information about any changes that may affect your data privacy. Your trust in us is important, and we are dedicated to maintaining the highest standards of data protection and privacy for our users.</p>
    </div>
    <app-footer></app-footer>
</section>
