<section>
  <app-navbar></app-navbar>
  <!-- <div class="container">
    <h1>Terms and Conditions</h1>
    <h2>Welcome to TechWing</h2>
    <p>
      These comprehensive terms and conditions have been thoughtfully crafted to
      provide an unequivocal understanding of the nuanced rules and regulations
      governing your utilization of the TechWing website. Your interaction with
      our site, whether it involves visiting or engaging in a purchase,
      represents your wholehearted engagement with our esteemed "Service." By
      doing so, you inherently consent to being firmly bound by the following
      meticulously detailed terms and conditions, often referred to as the
      "Terms of Service" or simply "Terms." This extensive coverage encompasses
      not only the core terms but also any supplementary terms and policies, all
      meticulously referenced herein or thoughtfully presented via hyperlinks.
    </p>
    <p>
      When you venture into this website, you not only access its myriad
      features and offerings but also implicitly acknowledge and wholeheartedly
      embrace these encompassing terms.
    </p>

    <h2>Intellectual Property Rights</h2>
    <p>
      Each piece of content found within the confines of this website is
      singularly and resolutely the exclusive property of TechWing. It is of
      utmost importance that you understand that republishing, modifying, or
      engaging in any form of distribution, no matter how minimal, of these
      invaluable materials is strictly and unequivocally prohibited unless
      you've diligently obtained our expressed, explicit, and incontestable
      written consent. This safeguarding of our intellectual property rights is
      essential in upholding our creative and intellectual endeavors.
    </p>

    <h2>Use of Materials</h2>
    <p>
      To ensure the highest standard of compliance, we willingly extend to you,
      our valued users, a limited, non-exclusive, and revocable permission. This
      authorization is aimed at facilitating your purposeful, responsible, and
      ethical use of our website, primarily for personal growth or educational
      purposes. However, it is of paramount importance that we emphasize that
      any form of unauthorized use, no matter how minor, has the potential to
      trigger not just penalties but also legal consequences. Therefore, it is
      our earnest expectation that you treat our materials with the respect and
      integrity they merit, adhering to the highest ethical standards.
    </p>

    <h2>Privacy Policy</h2>
    <p>
      Our Privacy Policy governs your use of this website. By using TechWing,
      you consent to our data practices, as outlined in our Privacy Policy. To
      ensure the highest standard of compliance, we willingly extend to you, our
      valued users, a limited, non-exclusive, and revocable permission. This
      authorization is aimed at facilitating your purposeful, responsible, and
      ethical use of our website, primarily for personal growth or educational
      purposes. However, it is of paramount importance that we emphasize that
      any form of unauthorized use, no matter how minor, has the potential to
      trigger not just penalties but also legal consequences. Therefore, it is
      our earnest expectation that you treat our materials with the respect and
      integrity they merit, adhering to the highest ethical standards.
    </p>

    <h2>Rules of Conduct</h2>
    <p>
      We expect all users to adhere to a set of rules of conduct when using our
      website. Violation of these rules may result in termination of access.
      Please refer to our "Rules of Conduct" policy for detailed information.
    </p>

    <h2>User Restrictions</h2>
    <p>
      There are certain user restrictions that you must be aware of when using
      our website. These restrictions are in place to maintain a secure and
      compliant environment for all users. Please refer to our "User
      Restrictions" policy for detailed information.
    </p>

    <h2>Termination</h2>
    <p>
      We reserve the right to terminate your access to our website if you
      violate these terms and conditions. In upholding the standards and
      integrity of our website, it is imperative to underscore that we, as
      stewards of this platform, reserve the unquestionable right to terminate
      your access in the event of a breach or violation of these meticulously
      laid out terms and conditions. This measure is not taken lightly, but it
      is essential to protect the interests of TechWing and maintain a secure
      and compliant environment for all users.
    </p>

    <h2>Changes</h2>
    <p>
      TechWing remains committed to continuous improvement, which is why we
      retain the authoritative ability to make necessary modifications to these
      terms and conditions at any given time. We strongly encourage you to be
      proactive in reviewing these terms with regularity to remain informed of
      any alterations, refinements, or additions that may come into effect. By
      doing so, you can rest assured that you remain well-versed in the current
      expectations and standards set forth by TechWing. We may modify these
      terms at any time. We encourage you to regularly review these terms for
      any changes.
    </p>
  </div> -->
  <div class="compalinace-page">
    <div class="header-conatiner">
      <div class="merchant-logo">
        <div class="logo-container"><div class="logo-text">I</div></div>
      </div>
      <p class="header-text">IT GLOBE TECH SERVICES</p>
    </div>
    <div class="compalinace-content">
      <div class="content-container">
        <p class="content-head">Privacy Policy</p>
        <div class="content-seprater"></div>
        <p class="updated-date">Last updated on Nov 1st 2023</p>
        <p class="content-text">
          This privacy policy sets out how IT GLOBE TECH SERVICES uses and
          protects any information that you give IT GLOBE TECH SERVICES when you
          use this website.
        </p>
        <p class="content-text">
          IT GLOBE TECH SERVICES is committed to ensuring that your privacy is
          protected. Should we ask you to provide certain information by which
          you can be identified when using this website, and then you can be
          assured that it will only be used in accordance with this privacy
          statement.
        </p>
        <p class="content-text">
          IT GLOBE TECH SERVICES may change this policy from time to time by
          updating this page. You should check this page from time to time to
          ensure that you are happy with any changes.
        </p>
        <p class="content-text">
          <strong>We may collect the following information:</strong>
        </p>
        <ul class="unorder-list">
          <li class="list-item">
            <p class="content-text list-text">Name and job title</p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              Contact information including email address
            </p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              Demographic information such as postcode, preferences and
              interests
            </p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              Other information relevant to customer surveys and/or offers
            </p>
          </li>
        </ul>
        <p class="content-text">
          <strong>What we do with the information we gather</strong>
        </p>
        <p class="content-text">
          We require this information to understand your needs and provide you
          with a better service, and in particular for the following reasons:
        </p>
        <ul class="unorder-list">
          <li class="list-item">
            <p class="content-text list-text">Internal record keeping.</p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              We may use the information to improve our products and services.
            </p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              We may periodically send promotional emails about new products,
              special offers or other information which we think you may find
              interesting using the email address which you have provided.
            </p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              From time to time, we may also use your information to contact you
              for market research purposes. We may contact you by email, phone,
              fax or mail. We may use the information to customise the website
              according to your interests.
            </p>
          </li>
        </ul>
        <p class="content-text">
          We are committed to ensuring that your information is secure. In order
          to prevent unauthorised access or disclosure we have put in suitable
          measures.
        </p>
        <p class="content-text"><strong>How we use cookies</strong></p>
        <p class="content-text">
          A cookie is a small file which asks permission to be placed on your
          computer's hard drive. Once you agree, the file is added and the
          cookie helps analyses web traffic or lets you know when you visit a
          particular site. Cookies allow web applications to respond to you as
          an individual. The web application can tailor its operations to your
          needs, likes and dislikes by gathering and remembering information
          about your preferences.
        </p>
        <p class="content-text">
          We use traffic log cookies to identify which pages are being used.
          This helps us analyses data about webpage traffic and improve our
          website in order to tailor it to customer needs. We only use this
          information for statistical analysis purposes and then the data is
          removed from the system.
        </p>
        <p class="content-text">
          Overall, cookies help us provide you with a better website, by
          enabling us to monitor which pages you find useful and which you do
          not. A cookie in no way gives us access to your computer or any
          information about you, other than the data you choose to share with
          us.
        </p>
        <p class="content-text">
          You can choose to accept or decline cookies. Most web browsers
          automatically accept cookies, but you can usually modify your browser
          setting to decline cookies if you prefer. This may prevent you from
          taking full advantage of the website.
        </p>
        <p class="content-text">
          <strong>Controlling your personal information</strong>
        </p>
        <p class="content-text">
          You may choose to restrict the collection or use of your personal
          information in the following ways:
        </p>
        <ul class="unorder-list">
          <li class="list-item">
            <p class="content-text list-text">
              whenever you are asked to fill in a form on the website, look for
              the box that you can click to indicate that you do not want the
              information to be used by anybody for direct marketing purposes
            </p>
          </li>
          <li class="list-item">
            <p class="content-text list-text">
              if you have previously agreed to us using your personal
              information for direct marketing purposes, you may change your
              mind at any time by writing to or emailing us at
              hradmin@itglobeindia.com
            </p>
          </li>
        </ul>
        <p class="content-text">
          We will not sell, distribute or lease your personal information to
          third parties unless we have your permission or are required by law to
          do so. We may use your personal information to send you promotional
          information about third parties which we think you may find
          interesting if you tell us that you wish this to happen.
        </p>
        <p class="content-text">
          If you believe that any information we are holding on you is incorrect
          or incomplete, please write to or email us as soon as possible, at the
          above address. We will promptly correct any information found to be
          incorrect.
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
