section {
  background-color: black;
}

h1,h3 {
  color: #ffa500;
  margin-top: 30px;
  text-align: center;
}
h4,h5 {
  color: white;
  text-align: center;
}

.container{
  padding-bottom: 100px;
}
.container .CEO {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5%;
}
.container .CEO img {
  max-width: 80%;
}


.Members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
}
.Members .one{
  text-align: center;
}
.Members img {
  max-width: 100%;
}



@media screen and (max-width:769px) {
    .Members {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .Members img {
        max-width: 70%;
      }
}

@media screen and (max-width:426px) {
    .Members {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .Members img {
        max-width: 50%;
      }

      h1,h3 {
        font-size: medium !important ;

      }
      h4,h5 {
        font-size: smaller;
      }


}