<section>
  <app-navbar></app-navbar>
  <app-carousel></app-carousel>
  <div class="container1">
    <div class="left">
      <h3>Tech Tee</h3>
      <h1>Be a Techie-Look like a Techie (Technically designed for you)</h1>
      <div class="">
        <button routerLink="/book" class="btn btn2">Change your look</button>
      </div>
    </div>
    <div class="right">
      <video
        src="../../assets/videos/0001-0300.mp4"
        [autoplay]="true"
        [muted]="true"
        [loop]="true"
      ></video>
    </div>
  </div>
</section>
<section>
  <div class="container2">
    <div class="container-fluid">
      <div class="left">
        <h4>Recent Placements</h4>
        <h3>
          “TechWing strives very hard in giving the best in world class
          certifications and knowledge as per corporate industry, We mould our
          trainees as a professionals in technologies”
        </h3>
        <h5>SHOAIB MOHAMMAD</h5>
        <h6>Java Full Stack Trainee</h6>
      </div>
      <div class="right">
        <img src="../../assets/images/shoaib.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container3">
    <div class="feature-img">
      <img src="../../assets/png/Academys/redhat.jpg" alt="" />
      <img src="../../assets/png/Academys/AWS.png" alt="" />
      <img src="../../assets/png/Academys/cisco.png" alt="" />
    </div>
    <div class="feature-txt">
      <h1>Member Institution and Official Partners</h1>
      <h3>
        TECHWING has forged significant partnerships with industry giants,
        including AWS Academy, CISCO Networking Academy, and REDHAT Academy.
        These partnerships are a testament to TECHWING's commitment to
        delivering high-quality, industry-aligned education.
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="container4">
    <h1>DISCOVER MORE</h1>
    <div class="container-fluid">
      <div class="left">
        <img src="../../assets/images/roadmap.jpg" alt="" />
        <div class="overlay">
          <button routerLink="/certification">
            <img src="../../assets/images/playbtn.png" alt="" />Certifications
          </button>
          <button routerLink="/programs">
            <img src="../../assets/images/playbtn.png" alt="" />Programs
          </button>
          <button routerLink="/team">
            <img src="../../assets/images/playbtn.png" alt="" />About Us
          </button>
        </div>
      </div>
      <div class="right">
        <div class="">
          <h1>Certifications</h1>
          <h4>
            Certifications and badges offered by TechWing reflect a commitment
            to offering a comprehensive learning experience that covers
            essential technology domains and prepares participants for success
            in the tech industry.
          </h4>
        </div>
        <div class="">
          <h1>Programs</h1>
          <h4>
            These programs are tailored to provide you with the essential skills
            and knowledge required for various sought-after certifications. We
            offer a wide range of industry-recognized certifications
          </h4>
        </div>
        <div class="">
          <h1>About Us</h1>
          <h4>
            TECHWING offers an exciting learning opportunity for college
            students in the dynamic IT sector. As a pioneering company, TECHWING
            bridges the gap between academic curriculum and industry needs,
            equipping students with critical skills for successful IT
            careers.Their training approach is comprehensive, focusing on both
            technical expertise and essential soft skills like communication and
            problem-solving. This prepares students to excel in the IT
            industry's challenges.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div class="container5">
    <div class="left5">
      <h3>Headings</h3>
      <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        aliquam reiciendis dolorum maiores sequi exercitationem cupiditate a qui
        expedita, doloremque provident aliquid excepturi quisquam laborum
        consectetur quae modi molestias ex?
      </h4>
    </div>
    <div class="right5">
      <h3>Headings</h3>
      <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dolorem!
        Sit quibusdam laudantium iusto laboriosam? Soluta quo harum quis debitis
        doloremque perspiciatis, eum ratione iste aliquid, voluptate modi a.
        Vel.
      </h4>
    </div>
  </div>
</section> -->
<section>
  <!-- <div class="container6">
    <img class="still" src="../../assets/images/container6.png" alt="" />
    <div class="courses">
      <img src="../../assets/images/ccna.jpeg" alt="" />
      <img src="../../assets/images/readhat.jpeg" alt="" />
      <img src="../../assets/images/aws.jpeg" alt="" />
      <img src="../../assets/images/fullstack.png" alt="" />
    </div>
  </div> -->

  <app-footer></app-footer>
</section>
